.formBlock{
    width: 35rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.formLabel{
    font-family: "Arial Narrow";
    font-size: 1.3rem;
    color: #3f5263;
}

.formTextInput{
    width: 25rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #3f5263;
    background: #fff;
    outline: none;
    border: 0.01rem solid #e9ebed;
}

.authButton{
    display: flex;
    width: 15rem;
    height: 2rem;
    justify-content: center;
    margin: auto;
    background: #633f4f;
    border-radius: 1rem;
    font-size: 1rem;
    color: #fff!important;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
}