.authSection{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.authSectionLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial Narrow";
    font-size: 3rem;
    color: #378dcc;
    margin-bottom: 2.5rem;
}

